<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="myApp">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<title>Test JS</title>
		
		<link href="./vendors/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		
		<script type="text/css">
		</script>
	</head>
	
	<body ng-controller="moedaController" data-ng-init="inicio();">
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<div class="navbar-brand">
						<span class='brand text-center'>Test <small>JS</small></span>
					</div>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li ng-class="{true: 'active', false: ''} [exibirTabelaIco]"><a href="#" ng-click="inicio();">Home</a></li>
						<li><a href="#" data-toggle="popover" title="Versão 1.0 Beta" 
							data-content="emow3.com" data-container="body" data-trigger="focus">Sobre</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		<section id="tabelaIco" ng-show="exibirTabelaIco">
			<div class="container text-small">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>
							<span class="glyphicon glyphicon-random" aria-hidden="true"></span> Test
						</h4>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-6">
								<p>...</p>
								<p><label>Frase: <input ng-model="textToConvert" placeholder="..." ng-blur="embaralha()"></label></p>
							</div>
							<div class="col-xs-6">
								<p>?</p>
								<p><label><span> {{ result }}</span></label></p>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- FIM Historico -->

		<footer>
			<div class="text-center">
				<p>&copy; emow3 Solutions - <span ng-bind="data | date:'dd/MM/yyyy HH:mm'"></span></p>
			</div>
		</footer>
		
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<script>
			// JScript para efeito do popup interno do menú
			$(function () {
				$('[data-toggle="popover"]').popover()
			})
			
			// Ínicio Angular
			var myApp = angular.module('myApp', []);
			
			// Ícone de carregando...
			myApp.directive('ngLoading', ['$compile', function ($compile) {
				var loadingSpinner = "<div class=\"loader loader--style2\" title=\"carregando...\">" +
					"<svg version=\"1.1\" id=\"loader-1\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\"" +
					"x=\"0px\" y=\"0px\" width=\"20px\" height=\"20px\" viewBox=\"0 0 50 50\" style=\"enable-background:new 0 0 50 50;\" xml:space=\"preserve\">" +
					"<path fill=\"#C5C5C5\" d=\"M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z\">" +
					"<animateTransform attributeType=\"xml\" attributeName=\"transform\" type=\"rotate\" from=\"0 25 25\" to=\"360 25 25\" dur=\"0.6s\" repeatCount=\"indefinite\" />" + 
					"</path></svg></div>";
				return {
					restrict: 'A',
					link: function (scope, element, attrs) {
						var originalContent = element.html();
						element.html(loadingSpinner);
						scope.$watch(attrs.ngLoading, function (val) {
							if(val && val > 0) {
								if(val.notFound) {
									element.html(attrs.ngLoadingNotFound ? attrs.ngLoadingNotFound : "Not found.");
								} else {
									element.html(originalContent);
									$compile(element.contents())(scope);
								}
							} else {
								element.html(loadingSpinner);
							}
						});
					}
				};
			}]);
			
			// Controller para a página
			myApp.controller('moedaController', ['$scope', function ($scope) {
				$scope.inicio = function () {
					$scope.exibirTabelaIco = true;
					$scope.exibirHistorico = false;
				}
				
				$scope.embaralha = function () {
					var output = "";
					var words = $scope.textToConvert.split(" ");
					for(i = 0; i < words.length; i++) {
						var letters = words[i].split("");
						var tmpWord = "";
						for(j = 0; j < letters.length; j++) {
							var letter = letters[j];
							if(tmpWord.length != 0 && tmpWord.length % 3 == 0) {
								tmpWord = tmpWord + letter + " ";
							} else {
								tmpWord = tmpWord + letter;
							}
						}
						var listPartsWord = tmpWord.split(" ");
						var wordShuffle = "";
						for(k = 0; k < listPartsWord.length; k++) {
							var lettersPart = listPartsWord[k].split('').sort(function(){return 0.5-Math.random()}).join('');
							wordShuffle = wordShuffle + lettersPart;
						}
						output = output + wordShuffle + " ";
					}
					
					$scope.result = output;
				}
			}]);
			
		</script>
		
	</body>
</html>
